<form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
  <!-- campo -->
  <div class="form-group">

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-user-tie" name="titular"
        [class.validicon]="this.form.get('titular')?.valid"
        [class.invalidicon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"
        ></i>
      </span>

      <input type="text" class="form-control" placeholder="Titular" formControlName="titular">
    </div>


  </div>
  <!-- fin campo -->

  <!-- campo -->
  <div class="form-group">

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-credit-card"
        [class.validicon]="this.form.get('numeroTarjeta')?.valid"
        [class.invalidicon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"
        ></i>
      </span>

      <input type="text" class="form-control" placeholder="Número de tarjeta" formControlName="numeroTarjeta" maxlength="16">
    </div>

  </div>
  <!-- fin campo -->

  <!-- división de columna ya dividida -->
  <div class="row">
    <!-- campo -->
  <div class="form-group col-md-7">

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-calendar-days"
        [class.validicon]="this.form.get('fechaExpiracion')?.valid"
        [class.invalidicon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"
        ></i>
      </span>

      <input type="text" class="form-control" placeholder="MM/YY" formControlName="fechaExpiracion" maxlength="5">
    </div>


  </div>
  <!-- fin campo -->

  <!-- campo -->
  <div class="form-group col-md-5">

    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-key"
        [class.validicon]="this.form.get('cvv')?.valid"
        [class.invalidicon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
        ></i>
      </span>

      <input type="text" class="form-control" placeholder="cvv" formControlName="cvv" maxlength="3">
    </div>


  </div>
  <!-- fin campo -->
  </div>

  <!-- botón -->
  <div class="form-group">
    <button class="btn btn-success btn-lg col-md-12 col-sm-12" type="submit" [disabled]="form.invalid"><i class="fa-solid fa-database"></i> Aceptar</button>
  </div>
</form>
