<table class="table table-sm">
  <thead>
    <tr>
      <td>Titular</td>
      <td># Tarjeta</td>
      <td>Fecha Expiración</td>
      <td>CVV</td>
      <td>.</td>
      <td>.</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarjeta of tarjetaService.list">
      <td>{{tarjeta.titular}}</td>
      <td>{{tarjeta.numeroTarjeta}}</td>
      <td>{{tarjeta.fechaExpiracion}}</td>
      <td>{{tarjeta.cvv}}</td>
      <td>
        <i class="fa-solid fa-pen-to-square text-info" style="cursor: pointer;" (click)="editarTarjeta(tarjeta)"></i>
      </td>
      <td>
        <i class="fa-solid fa-trash-can text-danger" style="cursor: pointer;" (click)="eliminarTarjeta(tarjeta.id)"></i>
      </td>

    </tr>

  </tbody>
</table>
