/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
  border-color: #dc4535;
}
input.ng-valid {
  border-color: #28a745;
}
.invalidicon {
  color: #dc4535;
}
.validicon {
  color: #28a745;
}
