<div class="jumbtron">
  <h1 class="display-4 text-center">Tarjetas de crédito</h1>

  <div class="row">
    <div class="col-md-5">
      <h6 class="text-center">
        Agregar Tarjeta
      </h6>
      <app-tarjeta-credito></app-tarjeta-credito>
    </div>
    <div class="col-md-7">
      <h6 class="text-center">
        Lista de tarjetas
      </h6>
      <app-list-tarjeta-credito></app-list-tarjeta-credito>
    </div>
  </div>
</div>
